{% extends "layout.html" %}
{% block page %}
	<h1>Who We Are<h1>
{% endblock page %}

{% block topwords %}
<h1 class="display-3 text-white mt-5 mb-5">About Us</h1>
{% endblock topwords %}

{% block info %}
	We are a group of college students that are studying disciplines of computer science. We came together to create this project to help East Orange as well as gain a depper understanding of artificial intelligence, or AI. 
	After spending some time in City Hall thanks to the East Orange College Intern Program, we tackled the courses provided by the "AI 4 All" program. We utilized the Open Learning course to delve into artificial intelligence and machine learning in the hopes of creating our own project that would benefit the people in our town as well as spread knowledge about AI. 
{% endblock info %}

{% block pgcontent %}
	<h1 class="mt-5">
	    <div class = "container">
			About This Project
		</div>
	</h1>
	<p class="lead mx-5 pt-3">
		 This project uses what we have learned from the AI 4 All Open Learning course as well as our past experience with programming to create a functional web application. We used the Flask web framework to create this app as well as Heroku to host the application.
	</p>
	<p class="lead mx-5 pt-1">
		 We use data that is publicly acessible using the financial statements found on the East Orange website. Using these documents, we apply univariate linear regression to predict possible future financial values.
	</p>

	<h4 class="mt-2">
	    <div class = "container">
			What is AI?
		</div>
	</h4>

	<p class="lead mx-5 pt-1">
		 AI stands for "Artificial Intelligence" and refers to technology that allows machines to simulate human qualities. This can include recommending videos you may like or driving your car around for you. If you have ever used Google maps or talked to Siri, you have interacted with AI. AI is all around us, but we don't always realize it. Its uses are many and it is an incredible area of computer science. Machine learning is a sort of subset of AI that focuses on giving computers the ability to make predictions and decisions based on data, and this is what we made use of for this application.
	</p>
{% endblock pgcontent %}

{% set active_page = "about" %}