{% extends "layout.html" %}
{% block page %}
	<h1>Predicting a Budget<h1>
{% endblock page %}

{% block topwords %}
<h1 class="display-3 text-white mt-5 mb-5">AI Project - Financial Predictor</h1>
{% endblock topwords %}

{% block info %}
	This application will allow you to see into the future - metaphorically, that is. You can enter a year into the box below to get a prediction of the city's budget for that year. Please enter a year that is higher than 2019. The model we have created will work off of past budget and financial data and attempt to predict what the budget will be in a given year.
{% endblock info %}

{% block inputbox %}
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Enter Year Here</legend>
			<div class="form-group">
				{{ form.year.label(class="form-control-label") }}
				{{ form.year(class="form-control form-control-lg") }}
			</div>
		</fieldset>
		<div class="form-group">
			{{form.submit(class="btn btn-outline-info") }}
		</div>
	</form>

	<p class="lead mx-5 font-italic small" style="color: #FF1C01;">
		***Note: The predictions made with this model represent possible outcomes. The results may be innacurate when compared to financial statements in the future. This model does not represent official financial statements and documents.
	 </p>
{% endblock inputbox %}

{% set active_page = "home" %}