{% extends "layout.html" %}
{% block page %}
	<h1>Predicting a Budget<h1>
{% endblock page %}

{% block topwords %}
<h1 class="display-3 text-white mt-5 mb-5">AI Project - Financial Predictor</h1>
{% endblock topwords %}

{% block info %}
	This application will allow you to see into the future - metaphorically, that is. You can enter a year into the box below to get a prediction of the city's budget for that year. Please enter a year that is higher than 2019. The model we have created will work off of past budget and financial data and attempt to predict what the budget will be in a given year.
{% endblock info %}

{% set active_page = "home" %}