{% extends "layout.html" %}
{% block page %}
	<h1>Predicting Budgets and Taxes<h1>
{% endblock page %}

{% block topwords %}
<h1 class="display-3 text-white mt-5 mb-5">Financial Predictons</h1>
{% endblock topwords %}

{% block info %}
	This application will allow you to see into the future - metaphorically, that is. You can enter a year into the box below to get a prediction of the city's budget for that year. Please enter a year that is higher than 2019. The model we have created will work off of past budget and financial data and attempt to predict what the budget will be in a given year.
{% endblock info %}

{% block inputbox %}
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Enter Year Here</legend>
			<div class="form-group">
				{{ form.year.label(class="form-control-label") }}
				{% if form.year.errors%}
					{{ form.year(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.year.errors %}
							<span> {{ error }} </span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.year(class="form-control form-control-lg") }}
				{% endif %}
			</div>
		</fieldset>
		<div class="form-group">
			{{form.submit(class="btn btn-outline-info") }}
		</div>
	</form>

	<p class="lead mx-5 font-italic small" style="color: #FF1C01;">
		***Note: The predictions made with this model represent possible outcomes. The results may be innacurate when compared to financial statements in the future. This model does not represent official financial statements and documents.
	 </p>

	<div id="input">
		{% if scroll %}
			<script>
    			document.location.hash = '#' + '{{ scroll }}';
			</script>
		{% endif %}
	 	<p class="lead mx-5">
			{% if check %}
				<p class="lead mx-5 mt-5"> Here is the data we use: </p>

				<table class="table mt-5">
				  <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Year</th>
				      <th scope="col">Budget</th>
				      <th scope="col">Total Expenditures</th>
				      <th scope="col">Tax Raised for Municipal Purposes</th>
				    </tr>
				  </thead>
				  <tbody>
				  
				  	{% for i in range (budget_df.shape[0]) %}

				  		<tr>
				  			<th scope="row"> {{ i }} </th>
				  			
				  				<td>{{ budget_df['year'][i] }}</td>
				      			<td>{{ budget_df['budget'][i] }}</td>
				      			<td>{{ budget_df['total_xpend'][i] }}</td>
				      			<td>{{ budget_df['tax_mcp'][i] }}</td>
				      			
				    		</tr>


				  	{% endfor %}
				  </tbody>
				</table>

				<p class="lead mx-5 mt-5 mb-5"> We compile this information into different groups to train the models to make predictions based on the data. Below are graphs that present the relationship between the respective data labels and the year. </p>


				<div class="container">
					<div class="row">
    					<div class="col-sm">
		    				<p class="lead mx-5 font-weight-bold">
		      				Budget
		      				</p>
			      			<img src={{url1}} alt="Chart" height="450" width="500">
	      				</div>
	      				<div class="col-sm">
		    				<p class="lead mx-5 font-weight-bold">
		      				Total Expenditures
		      				</p>
			      			<img src={{url2}} alt="Chart" height="450" width="500">
	      				</div>
	      			</div>
      			</div>
    	
				<p class="lead mx-5 mb-5 font-weight-bold">
		      		Amount to be Raised by Taxation for Municipal Purposes
		     	</p>

      			<img src={{url3}} alt="Chart" height="450" width="500">

      			<p class="lead mx-5 mt-5 mb-5 font-weight-bold"> Results of the prediction: </p>

      			<p class="lead mx-5 mt-5 mb-5"> 
      			The predicted budget in {{form.year.data}} will be ${{p1}}.
      			</p>

      			<p class="lead mx-5 mt-5 mb-5"> 
      			The predicted total expenditures in {{form.year.data}} will be ${{p2}}.
      			</p>

      			<p class="lead mx-5 mt-5 mb-5"> 
      			The predicted amount to be raised by taxation for municipal purposes in {{form.year.data}} will be ${{p3}}.
      			</p>

			{% endif %}
	 	</p>
	 </div>
	



{% endblock inputbox %}

{% set active_page = "home" %}